@media screen and (max-width: 576px) {
  #button-help {
    display: none !important;
  }
  #modal-button {
    display: none !important;
  }
}
@media screen and (min-width: 577px) and (max-width: 992px) {
  .btn-dark {
    font-size: 0.4rem !important;
  }
  .will-display {
    font-size: 0.8rem !important;
  }
 }

#modal-button {
  bottom: 5%;
  background-color: white;
  border: solid #A58701 1px;
  height: 70%;
  display: none;
  border-radius: 5%;
  overflow: hidden;
  right: 0.5%;
}
#button-help {
  bottom: 5%;
  color: #A58701;
  border: 1px solid #A58701;
  background-color: white;
  position: fixed;
  right: 8%;
}

#button-help:hover {
  background-color: #A58701;
  color: white;
}

#button-close {
  position: absolute !important;
  height: 0.5rem;
  right: 5%;
}
#header-modal-help {
  background-color: #0e537a;
  height: 15% !important;
  border-bottom: 1px solid black;
}
.text-modal-help {
  height: 75%;
}
.footer-modal-help {
  border-top: 1px #A58701 solid;
  height: 15% !important;
}
.search-modal-help {
  height: 80%;
}
.background-color-modal-help {
  background-color: #0e537a;
}
.btn-dark {
  font-size: 0.7rem !important;
}
.font-monserrat {
  font-family: 'Montserrat', sans-serif;
  color: white;
}
