#sidebar {
    width: 200px;
    position:fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #0e537a;
    color: #FFFFFF;
}

.menu-items-link {
  color: #FFFFFF;
  margin-left: 10%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}


.menu-items-link:hover{
  text-decoration: none;
  color: #FFFFFF;
  border-bottom: 2px solid #A58701;
}

.menu-items {
  margin-bottom: 15%;
}


/* ________________________________________________________________________ */

/* nav {
  display: none;
} */
