/* FONT USE :

    font-family: 'Montserrat', sans-serif;

    font-family: 'Lato', sans-serif;

*/

body {
  font-family: 'Montserrat', sans-serif;
  color: #47525E;
}

h3,h2 {
  /* margin-bottom: 4rem; */
  font-size: 40px;
  font-weight: 600;
}

h4 {
  font-weight: 600;
  font-size: 1.1rem;
}


input:focus {
    outline: none;
    box-shadow: none;
}

footer {
  background-color: #0E537A;
  color: white;
  margin-top: 10rem;
  width: 100%;
  padding: 0;
}


footer img {
  height:40%;
}

footer .logo {
  width:15%;
}

footer a {
  color: white;
}

footer a:hover {
  text-decoration: none;
  color: #A58701;
}

footer h5 {
  color: white;
}

footer li,p {
  font-size: 0.9rem;
}

.form-control, .sign-in-btn  {
  border-radius: 0;
}

.form-control:focus {
  box-shadow: 0 0 0.3rem 0 rgba(14, 83, 122, 1) !important ;
  border-color: #0E537A;
}

.sign-in-form, .register-form {
  border: 2px solid #0E537A;
}

.sign-in-btn, .register-btn {
  background-color: #0E537A;
}

.form-group {
  margin-bottom: 2rem;
}

.register-form-check {
  margin-bottom: 1rem;
}

.wrong-auth {
  color: red !important;
  display: none;
}

.g-recaptcha {
  margin-bottom: 1rem;
}

.loop-search {
  height: 1.4rem;
  margin-top: 0.2rem;
  margin-right: 0.3rem;
}

.form-top-search {
  height: 1.5rem;
}

.signin-btn {
  height: 1.7rem;
}

.page-header {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.login-header, .register-header {
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.register-full-form {
  margin-bottom: 4rem;
}

.headline {
  background-color: #0E537A;
  color: white;
  font-size: 25px;
  font-weight: 500;
  margin-top: 6rem;
  margin-bottom: 2rem;
}

.social-network-footer {
  height: 2.5em;
}
